<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<style>
    * {
        font-family: "Times New Roman", Times, serif;
    }
</style>

<head>
	<meta charset="utf-8" />
	<title>Madlibs</title>
</head>

<body>
	<h1>Welcome to Madlibs</h1>

    <h2>User</h2>
    
    <ul>
        <li>
            To create a story, click <a href="/create">here</a>
        </li>
        <li>
            To view someone's story, click <a href="/select">here</a>
        </li>
    </ul>

    <hr>

    <h2>Admin</h2>

    <ul>
        <li>
            To remove all stories, click <a href="/remove">here</a>
        </li>
    </ul>

    <hr>

</body>

</html>
