<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<style>

    * {
        font-family: "Times New Roman", Times, serif;
    }

</style>

<head>
	<meta charset="utf-8" />
	<title>Terps Summer Camp Gpa Processed</title>
</head>

<body>
	<h1>Removed All Stories</h1>

    All stories have been removed from the database. Number of stories removed: <%- num %> <br>

    <hr>
    <a href="/">HOME</a>

</body>

</html>
