<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<style>

    * {
        font-family: "Times New Roman", Times, serif;
    }

</style>

<head>
	<meta charset="utf-8" />
	<title>Madlib Remove</title>
</head>

<body>
	<h1>Remove All Stories</h1>

    <button onclick="location.href='/removed'" type="button">Remove all stories</button>

    <hr>
    <a href="/">HOME</a>

</body>

</html>
