<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<style>
    * {
        font-family: "Times New Roman", Times, serif;
    }
</style>

<head>
	<meta charset="utf-8" />
	<title>Madlibs</title>
</head>

<body>
	<h1>Story Submitted!</h1>
    <hr>
    <a href="/">HOME</a>

</body>

</html>
